@media only screen and (max-width: 600px){
    .container {
        display: none;
    }
}
@media only screen and (min-width: 600px){
    .container {
        margin: 0;
        height: 80vh;
        width: 100vw;
    }
}
.container-fluid {
    position: absolute;
    top: 0;
}
.background {
    /*background-img: ('Images/background/Jimmie_2048x1309.jpg');*/
    opacity: .7;
    max-width: 100%;
    z-index: -1;
}
.logo {
    height: 15vh;
}
.stats {
    text-align: center;
}
.stats.matches, .stats.accuracy, .stats.attempts, .stats.wins {
    height: 15vh;
}
.reset {
    text-align: center;
    height: 15vh;
}
button {
    margin-top: 10px;
}
.card {
    height: 26vh;
}
.front {
    max-width: 100%;
}
.timer {
    height: 7vh;
    width: 100%;
}
#timeleft {
    width: 100%;
    height: 30px;
    background-color: green;
}
.back {
    position: absolute;
    top: 0;
}
